# fly.toml app configuration file generated for marvel-comics on 2026-01-11T18:51:20+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'marvel-comics'
primary_region = 'fra'

[build]

[env]
  MARVEL_DB_PATH = 'data/marvel.db'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
